# Auto detect text files and perform LF normalization
* text=auto
journal/personal-journal/* filter=git-crypt diff=git-crypt
prof/* filter=git-crypt diff=git-crypt
prof/interviews/* filter=git-crypt diff=git-crypt
prof/interviews-prep/* filter=git-crypt diff=git-cryptg
